apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data
  namespace: jiucom
  labels:
    app: jiucom
    component: grafana
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
