apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: jiucom
  labels:
    app: jiucom
    component: redis
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: jiucom
      component: redis
  template:
    metadata:
      labels:
        app: jiucom
        component: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
              name: redis
          resources:
            requests:
              cpu: 250m
              memory: 128Mi
            limits:
              cpu: "1000m"
              memory: 512Mi
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
          volumeMounts:
            - name: redis-data
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: redis-data
        labels:
          app: jiucom
          component: redis
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi
