spring:
  datasource:
    url: jdbc:h2:mem:jiucom-test;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    com.jiucom.api: WARN
