apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning
  namespace: jiucom
  labels:
    app: jiucom
    component: grafana
data:
  datasource.yml: |
    apiVersion: 1

    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: false
